*{
    margin: 0px auto;
    padding: 0px;
    line-height: 0px;
}


.cell1 {
    background-color: red;
    display: inline-block;
    height: 30px;
    width: 30px;
}

.cell0 {
    background-color: slategrey;
    display: inline-block;
    height: 30px;
    width: 30px;
}